In [1]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

In [8]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2025-05.parquet')

In [9]:
df.head

<bound method NDFrame.head of          VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0               1  2025-05-01 00:07:06   2025-05-01 00:24:15              1.0
1               2  2025-05-01 00:07:44   2025-05-01 00:14:27              1.0
2               2  2025-05-01 00:15:56   2025-05-01 00:23:53              1.0
3               2  2025-05-01 00:00:09   2025-05-01 00:25:29              1.0
4               2  2025-05-01 00:45:07   2025-05-01 00:52:45              1.0
...           ...                  ...                   ...              ...
4591840         2  2025-05-31 23:25:10   2025-05-31 23:47:00              NaN
4591841         2  2025-05-31 23:16:37   2025-05-31 23:38:45              NaN
4591842         2  2025-05-31 23:19:45   2025-05-31 23:29:54              NaN
4591843         2  2025-05-31 23:52:37   2025-06-01 00:07:51              NaN
4591844         2  2025-05-31 23:56:59   2025-06-01 00:11:24              NaN

         trip_distance  RatecodeID store_and_fwd_flag  PULocationID  \
0                 3.70         1.0                  N           140
1                 1.03         1.0                  N           234
2                 1.57         1.0                  N           161
3                 9.48         1.0                  N           138
4                 1.80         1.0                  N            90
...                ...         ...                ...           ...
4591840           8.92         NaN               None            48
4591841           2.29         NaN               None            68
4591842           1.55         NaN               None            42
4591843           5.43         NaN               None            75
4591844           3.63         NaN               None            75

         DOLocationID  payment_type  fare_amount  extra  mta_tax  tip_amount  \
0                 202             1        18.40   4.25      0.5        4.85
1                 161             1         8.60   1.00      0.5        4.30
2                 234             2        10.00   1.00      0.5        0.00
3                  90             1        40.80   6.00      0.5       11.70
4                 231             1        10.00   1.00      0.5        1.50
...               ...           ...          ...    ...      ...         ...
4591840           243             0        37.31   0.00      0.5        0.00
4591841           162             0        -4.75   0.00      0.5        0.00
4591842            74             0        22.25   0.00      0.5        0.00
4591843           119             0        22.59   0.00      0.5        0.00
4591844           168             0        15.78   0.00      0.5        0.00

         tolls_amount  improvement_surcharge  total_amount  \
0                0.00                    1.0         29.00
1                0.00                    1.0         18.65
2                0.00                    1.0         15.75
3                6.94                    1.0         71.94
4                0.00                    1.0         17.25
...               ...                    ...           ...
4591840          0.00                    1.0         42.06
4591841          0.00                    1.0          2.97
4591842          0.00                    1.0         23.75
4591843          0.00                    1.0         24.09
4591844          0.00                    1.0         19.78

         congestion_surcharge  Airport_fee  cbd_congestion_fee
0                         2.5         0.00                0.75
1                         2.5         0.00                0.75
2                         2.5         0.00                0.75
3                         2.5         1.75                0.75
4                         2.5         0.00                0.75
...                       ...          ...                 ...
4591840                   NaN          NaN                0.75
4591841                   NaN          NaN                0.75
4591842                   NaN          NaN                0.00
4591843                   NaN          NaN                0.00
4591844                   NaN          NaN                0.00

[4591845 rows x 20 columns]>

In [10]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee,cbd_congestion_fee
0,1,2025-05-01 00:07:06,2025-05-01 00:24:15,1.0,3.70,1.0,N,140,202,1,18.4,4.25,0.5,4.85,0.00,1.0,29.00,2.5,0.00,0.75
1,2,2025-05-01 00:07:44,2025-05-01 00:14:27,1.0,1.03,1.0,N,234,161,1,8.6,1.00,0.5,4.30,0.00,1.0,18.65,2.5,0.00,0.75
2,2,2025-05-01 00:15:56,2025-05-01 00:23:53,1.0,1.57,1.0,N,161,234,2,10.0,1.00,0.5,0.00,0.00,1.0,15.75,2.5,0.00,0.75
3,2,2025-05-01 00:00:09,2025-05-01 00:25:29,1.0,9.48,1.0,N,138,90,1,40.8,6.00,0.5,11.70,6.94,1.0,71.94,2.5,1.75,0.75
4,2,2025-05-01 00:45:07,2025-05-01 00:52:45,1.0,1.80,1.0,N,90,231,1,10.0,1.00,0.5,1.50,0.00,1.0,17.25,2.5,0.00,0.75